.hero {
}

.hero-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  /* padding: 10px; */
}

.inner-hero-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* padding: 0 40px 50px; */
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* padding: 10px; */
  /* width: 300px; */
  width: 100%;
}

.form-full-cont {
  /* width:'min-content'; */
  padding: '10px';
  margin: 0;
}

.form-paper {
  /* width: 300px; */
}

.form-dropdown-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  box-shadow: 0px 1px 4px 1px rgb(10 10 10 / 10%);
}

.form-dropdown {
  display: grid;
  /* grid-template-columns: 150px 150px; */
  grid-template-columns: repeat(2, minmax(150px, 200px));
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 10px;
}

#plsWork {
  width: 100%;
  margin: 0 1em;
  padding: 10px 0;

  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(330px, 400px)); */
  gap: 10px;
}
#plsWork-inner-container {
  padding: 0 10px;
}

.submit-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.btn.btn-danger {
  /* width: 200px; */
  padding: 0px 50px !important;
}

Table > * {
  text-shadow: 0px 1px 1px rgb(10 10 10 / 20%);
}

@media (max-width: 1000px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
  }
  .inner-hero-cont {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .form-contain {
    padding-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .plots {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1100px) {

  .form-dropdown {
    grid-template-columns: 170px 170px;
    /* grid-template-columns: repeat(3, minmax(150px, 1fr)); */
    /* grid-template-rows: 1fr 1fr; */
  }
  #plsWork {
    width: 100%;
    margin: 0 1em;
    padding: 10px 0;
    
  }
  #plsWork-inner-container {
    max-width: 1100px;
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 160px;
    column-gap: 10px;
  }
}
