.hero {
}

.hero-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  /* padding: 10px; */
}

.inner-hero-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  /* padding: 0 40px 50px; */
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-contain {
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* padding: 10px; */
  /* width: 300px; */
  width: 100%;
}

.form-full-cont {
  /* width:'min-content'; */
  padding: '10px';
  margin: 0;
}

.form-paper {
  /* width: 300px; */
}

.form-contain {
}

.form-dropdown-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  box-shadow: 0px 1px 4px 1px rgb(10 10 10 / 10%);
}

.form-dropdown {
  display: grid;
  grid-template-columns: 155px 155px;
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 10px;
}

.submit-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.btn.btn-danger {
  /* width: 200px; */
  padding: 0px 50px !important;
}

Table > * {
  text-shadow: 0px 1px 1px rgb(10 10 10 / 20%);
}

@media (max-width: 1000px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
  }
  .inner-hero-cont {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .form-contain {
    padding-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .plots {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
