.default-view-container {
  /* background-image: url('../assets/2_Muir_Glacier_Comb_1.jpg'); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../assets/hidden_lake_glacier_national_park_montana-wallpaper-5120x3200.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  
  margin-bottom: 1em;
}

.logo {
  color: aliceblue;
}

.information {
  color: aliceblue;
  height: 300px;
}

.hero-container {
  height: 100%; 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.9fr 1fr;
}

.inner-hero-cont  p{
  font-size: 2em;
  text-align: center;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  /* padding: 0 40px 50px; */
  /* gap: 10px;
  justify-content: center;
  align-items: center; */
}

.form-contain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.form-full-cont {
  /* width:'min-content'; */
  padding: '10px';
  margin: 0;
}

.form-dropdown-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  box-shadow: 0px 1px 4px 1px rgb(10 10 10 / 10%);
}

.form-dropdown {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 200px));
  column-gap: 10px;
}

#plsWork {
  width: 'fit-content';
  margin: 0 1em;
  padding: 10px 0;

  display: grid;
  place-items: center;
  /* grid-template-columns: repeat(auto-fit, minmax(330px, 400px)); */
  gap: 10px;
}
#plsWork-inner-container {
  padding: 0 10px;
}

.submit-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.btn.btn-danger {
  /* width: 200px; */
  padding: 0px 50px !important;
}

#map-section {
  /* margin-top: 1em; */
}

Table > * {
  text-shadow: 0px 1px 1px rgb(10 10 10 / 20%);
  font-weight: 900;
}

@media (max-width: 1000px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
  }
  .inner-hero-cont {
    /* grid-template-columns: 1fr;
    grid-template-rows: 1fr; */
  }
  .form-contain {
    padding-bottom: 15px;
  }
}
@media (max-width: 1200px) {
  .plots {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .information {
  }
}
@media (min-width: 1100px) {
  .form-dropdown {
    grid-template-columns: 250px 250px;
    /* grid-template-columns: repeat(3, minmax(150px, 1fr)); */
    /* grid-template-rows: 1fr 1fr; */
    column-gap: 20px;
  }
  #plsWork {
    /* width: 100%; */
    margin: 0 1em;
    padding: 20px 10px 10px;
  }
  #plsWork > * {
    font-size: 1.5em;
  }
  #plsWork-inner-container {
    /* max-width: 1100px; */
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr 160px;
    column-gap: 20px;
  }
}
