.App {
  min-height: 100vh;
  /* background-color: pink; */
  min-width: 100vw;
}

.default-view-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: #ff000093; */
}

.default-view {
  /* background-color: #aa0; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-logo {
  display: flex;
  flex-direction: column-reverse;
  /* background-color: orange; */
  align-items: center;
  padding: 15px 0;
}

.form {
  /* background-color: orchid; */
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  flex-direction: column;
}


.map {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.tables {
  text-align: center;
  /* background-color: orange; */
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}

.linearTable {
  /* background-color: orchid; */
  /* background-color: #c5c7c99a; */
  border: 1px solid black;
  width: 800px;
  padding: 20px 20px 20px 20px;
}

.clusterModelTable {
  /* background-color: paleturquoise; */
  /* background-color: #c5c7c99a; */
  border: 1px solid black;
  width: 800px;
  padding: 20px 20px 20px 20px;
}

.avgRecordTable {
  /* background-color: peru; */
  /* background-color: #c5c7c99a; */
  border: 1px solid black;
  width: 800px;
  padding: 20px 20px 20px 20px;
}

.plots {
  display: flex;
  padding: 20px 20px 20px 20px;
}

.histTempDataPlot {
  padding: 20px 20px 20px 20px;
  background-color: aliceblue;
}

.pp {
  min-height: 100vh;
  background-color: #eee;
}

@media only screen and (min-width: 992px) {
  .text-large-lg {
    font-size: 4em;
  }
  .subtext-large-lg {
    font-size: 2.5em;
  }
  .vertical-center-lg {
    height: calc(100vh - 215px);
    display: flex;
    align-items: center;
  }
}


.input-test {
  border: none;
  min-width: 200px;

  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}