.App {
  min-height: 100vh;
  /* background-color: pink; */
  background-color: #cad2c5;
  /* min-width: 100vw; */
}

.default-view-container {
  /* display: flex; */
  min-height: 100vh;
  /* flex-direction: column; */
  /* background-color: #ff000093; */
}

.default-view {
  /* background-color: #aa0; */
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1fr;
}

.title-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3rem;
}

.title {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}

.logo {
  /* text-align: right; */
  /* background-color: blanchedalmond; */
  /* padding: 15px; */
}

.title {
  /* text-align: left; */
  /* background-color: aqua; */
}

.information {
  text-align: center;
  /* background-color: cornflowerblue; */
  padding: 0 0 1rem 0;
}

.year-input,
.dropdown-input {
  border: none;
  /* min-width: 250px; */
  /* display: block; */
  /* height: calc(1.5em + 0.75rem + 2px); */
  /* padding: 0.375rem 0.75rem; */
  font-size: 2rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.map {
  /* display: flex;
  justify-content: center; */
  /* padding: 10px 0; */
  /* width: 100%; */
  /* background-color: burlywood; */
}

.tables {
  text-align: center;
  /* background-color: orange; */
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
}

.linearTable {
  /* background-color: orchid; */
  /* background-color: #c5c7c99a; */
  background-color: #84a98c;
  border: 1px solid black;
  width: 800px;
  padding: 20px 20px 20px 20px;
}

.clusterModelTable {
  /* background-color: paleturquoise; */
  /* background-color: #c5c7c99a; */
  border: 1px solid black;
  background-color: #84a98c;

  width: 800px;
  padding: 20px 20px 20px 20px;
}

.avgRecordTable {
  /* background-color: peru; */
  /* background-color: #c5c7c99a; */
  border: 1px solid black;
  background-color: #84a98c;

  width: 800px;
  padding: 20px 20px 20px 20px;
}

.plots {
  display: flex;
  padding: 20px 20px 20px 20px;
}

.histTempDataPlot {
  padding: 20px 20px 20px 20px;
  /* background-color: aliceblue; */
}

.histRangeTempsPlot {
  padding: 20px 20px 20px 20px;
  /* background-color: aliceblue; */
}

@media (max-width: 1000px) {
  .default-view {
    grid-template-rows: 0.1fr 1fr;
  }
}
